MONGO_URI=mongodb+srv://tyrus_db_user:zS6PW0uGLLaCCZjy@cluster0.awuu08q.mongodb.net/?appName=Cluster0
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=beijing_air_quality
API_BASE_URL=http://127.0.0.1:8000
MODEL_PATH=rf_model.pkl